<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<div class="update-form-container">
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
    <%  }) %>
       </ul>
    <% } %>

    <!-- Account Update Form -->
    <div class="update-form">
        <h2>Account Update</h2>
        <p class="form-instructions">Update your account information below.</p>

        <form id="updateAccountForm" action="/account/update" method="post">
            <div class="form-group">
                <label for="account_firstname">First Name:</label>
                <input type="text" name="account_firstname" id="account_firstname" required 
                      value="<%= locals.account_firstname %>">
            </div>
            
            <div class="form-group">
                <label for="account_lastname">Last Name:</label>
                <input type="text" name="account_lastname" id="account_lastname" required 
                      value="<%= locals.account_lastname %>">
            </div>
            
            <div class="form-group">
                <label for="account_email">Email:</label>
                <input type="email" name="account_email" id="account_email" required 
                      value="<%= locals.account_email %>">
            </div>
            
            <input type="hidden" name="account_id" value="<%= locals.account_id %>">
            
            <button type="submit" class="form-button">Update Account</button>
        </form>
    </div>

    <!-- Password Change Form -->
    <div class="password-form">
        <h2>Change Password</h2>
        <p class="form-instructions">Use this form to change your password.</p>

        <form id="changePasswordForm" action="/account/update-password" method="post">
            <div class="form-group">
                <label for="account_password">New Password:</label>
                <input type="password" name="account_password" id="account_password" required 
                      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            </div>

            <div class="password-requirements">
                <p>Password requirements:</p>
                <ul>
                    <li>12 characters in length, minimum</li>
                    <li>Contain at least 1 capital letter</li>
                    <li>Contain at least 1 number</li>
                    <li>Contain at least 1 special character</li>
                </ul>
            </div>
            
            <input type="hidden" name="account_id" value="<%= locals.account_id %>">
            
            <button type="submit" class="form-button">Change Password</button>
        </form>
    </div>
</div>